{ 
    "env": { 
        "browser": true, 
        "es6": true, 
        "node": true
    }, 
    "extends": "eslint:recommended", 
    "parserOptions": { 
        "ecmaVersion": 11, 
        "sourceType": "module" 
    }, 
    "rules": { 
        "indent": ["error", 4], 
        "semi": ["error", "always"], 
        "keyword-spacing": 0, 
        "no-unused-vars": 1, 
        "space-before-function-paren": 0
    } 
}
