doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/static/css/home.css')
  title Notepad
  // CSS only
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  // JavaScript Bundle with Popper
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
// TODO: 이 곳을 채워 클라이언트를 만들어 보세요
.container
  .row.align-items-md-stretch 
    .col-md-3.card.leftCard
      p Current id :
      p.card-text=userId
      button.btn.btn-danger(type="button" onclick="location.href='/logout'") Log out
    .col-md-9
      .container.childContainer
        header
          ul#navContainer.nav.nav-tabs
            .dropdown
              button#openFile.btn.btn-primary(type='button') 새 파일
              button#ddButton.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | 불러오기
              ul.dropdown-menu#dropdownMenu(aria-labelledby='ddButton')
        br
        section.notepad
script(src='/static/js/classes/manageStorage.js')
script(type="module" src='/static/js/notepadLoader.js')
