extends layouts/main
block headScriptAndCss
  link(href='/static/css/sign.css' rel='stylesheet')

block content
  body.text-center
    main.form-signin
      form(method= "post")
        h1.h3.mb-3.fw-normal Join
        h3.mb-3.errorMsg=errorMsg
        .form-floating
          input#floatingInput.form-control(type='email' name="loginId" placeholder='name@example.com')
          label(for='floatingInput') Email address
        .form-floating
          input#floatingPassword.form-control(type='password' name="password" placeholder='Password')
          label(for='floatingPassword') Password
        .form-floating
          input#floatingPassword2.form-control(type='password' name="chkPassword" placeholder='Check Password')
          label(for='floatingPassword2') Check Password

        button.w-100.btn.btn-lg.btn-primary(type='submit') Submit
      button.w-100.btn.btn-lg.btn-primary(type='button' onclick="location.href='/login'") Login
      p.mt-5.mb-3.text-muted &copy; 2021&ndash;2021